<%- include('./partials/head.ejs') %>
<main class="focussed-main">
    <form method="get" action="/search" data-search-form>
        <input  class="focussed-searchbar" type="text" name="q" placeholder="bijv. Rembrandt" data-search-input value="<%= searchValue %>"/>
        <button class="focussed-hidebutton" type="button"><a href="/">Annuleren</a></button>
    </form>
    <ul>
        <% artworks.forEach(artwork => { %>
                <% if(artwork.webImage) {%>
                <li>
                    <a href="/detail/<%= artwork.objectNumber %>">
                        <figure>
                            <img src="<%= artwork.webImage.url%>" alt="<%= artwork.longTitle %>">
                            <figcaption><%= artwork.title %></figcaption>
                        </figure>
                    </a>
                </li>
                <% } else{ %>
                <% } %>
        <% }) %>
    </ul>
</main>

<%- include('./partials/footer') %>